:root{
    --BackgroundColor: black;
    --TextColor: white;
    --TopBarHeight: 50px;
    --TopBarGap: 3px;
    --TopBarItemsColor: rgba(0, 0, 0, 0.512);
    --TopBarHoverItemsColor: rgba(0, 0, 0, 0.745);
    --AnimationDuration: 1s;
    --BackgroundDimm: radial-gradient(rgba(0, 0, 0, 0.337), rgba(0, 0, 0, 0.576));
    --ChempionsSize: 100px;
    --Correct: green;
    --InCorrect: red;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

*{
    color: var(--TextColor);
    margin: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
    font-family: monospace;
}

body { font-size: 150%;}

body, .Body{
    background: url(Assets/Background.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

.Body{
    background-image: var(--BackgroundDimm);
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.TitleBar{
    display: grid;
    position: fixed;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: var(--TopBarHeight);
}

.TitleBar > div{
    width: calc(100% - var(--TopBarGap) * 2);
    margin: 0px var(--TopBarGap);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--TopBarItemsColor);
    transition: var(--AnimationDuration);
    cursor: pointer;
}

.TitleBar > div:hover{
    background-color: var(--TopBarHoverItemsColor);
    transition: var(--AnimationDuration);
}

.Chempions{
    /* margin-top: var(--TopBarHeight); */
    width: calc(100% - 10px);
    max-height: 30%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--ChempionsSize), max-content));
    justify-content: center;
    overflow-y: auto;
    border: 5px solid black;
}

.Chempions > div{
    width: var(--ChempionsSize);
    height: var(--ChempionsSize);
}

.Chempions > div > img{
    width: 100%;
    height: 100%;
}

.ChempionUsed{
    filter: saturate(0);
}

.WinChempion{
    text-align: center;
    width: 100%;
}

.WinChempion > img{
    width: var(--ChempionsSize);
    height: var(--ChempionsSize);
}

.Attrib{
    overflow-y: auto;
    width: calc(100% - 10px);
    margin-top: 5px;
    border: 5px solid black;
}

.ChempionsAttrib{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.Attrib thead th{
    position: sticky;
    top: 0;
}

td, th{
    border: 5px solid black;
    background-image: var(--BackgroundDimm);
}

.TableIcon{
    width: var(--ChempionsSize);
}

.Correct{
    background-color: var(--Correct);
}

.InCorrect{
    background-color: var(--InCorrect);
}


@media only screen and (min-width: 1024px) {
    body { font-size: 200%;}
    :root{
        --ChempionsSize: 150px
    }
}


@media only screen and (min-width: 2560px) {
    body { font-size: 600%;}
    :root{
        --ChempionsSize: 300px
    }
}

@media only screen and (max-width: 600px) {
    :root{
        --ChempionsSize: 70px
    }
    body { font-size: 100%;}
}

@media only screen and (max-width: 375px) {
    body { font-size: 80%;}
}

@media only screen and (max-width: 320px) {
    body { font-size: 60%;}
}